* {
    box-sizing: border-box;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.new-form {
    display: flex;
    flex-direction: column;
}

.new-form > input {
    height: 40px;
    width: 400px;
}